body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

div#root {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;

  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(
      30deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(
      150deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(
      30deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(
      150deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(
      60deg,
      #00000077 25%,
      transparent 25.5%,
      transparent 75%,
      #00000077 75%,
      #00000077
    ),
    linear-gradient(
      60deg,
      #00000077 25%,
      transparent 25.5%,
      transparent 75%,
      #00000077 75%,
      #00000077
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;

  width: max(25%, 300px);
  height: auto;

  padding: min(2%, 1rem) min(4%, 2rem);

  border: 3px solid black;
  border-radius: 5px;
}

div.container p {
  font-size: 3rem;
  color: black;

  margin-top: 0px;
  margin-bottom: 1em;
}

.text-box {
  outline: none;
  margin-bottom: 1rem;
  resize: none;
  height: 60px;
  width: 292px;
}

div.qrBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 5px;
  padding: 1rem;
}

div.color-input label {
  display: block;
  width: min-content;
  margin-right: 0.5rem;
}

div.color-input {
  display: flex;

  justify-content: space-between;
  margin: 1rem 0px;
}

div.color-input div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5rem;
}
.Download {
  padding: 1rem 2rem;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.Download:hover {
  background-color: #28a745;
  color: #ffffff;
}
